

<% if false#!user_signed_in? %>
    <div class="">
      <h3>Your Favorite Movies Reviewed</h3>
      <p><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary " %></p>
    </div>
  <% end %>
<div class='container'>
  <div class="row">
    <% @movies.each_with_index do |movie,i| %>
      <div class="col-xs-5 col-md-5 panel panel-default">
        <div class="col-md-6"> 
          <div href="#" class="thumbnail">
          <%= link_to (image_tag movie.avatar.url(:original), class: 'image img-responsive '), movie %>
          </div>
        </div>
        <div class="col-md-6 "> 
          <ul class='movie' id="movie_<%= movie.id %>"  data-movie-id="<%= movie.id%>">
            <li>Title : <%= movie.title %> </li>
            <li>Director : <%= movie.director %> </li>
            <li>Language : <%= movie.language%> </li>
            <li>Duration : <%= movie.movie_length %> </li>
            <li class="avg_rating" data-rating="<%#= movie.set_avg_rating %>">Avg. User's Rating : <%#= movie.set_avg_rating %> 
              <span id="rate_"+"<%#=i%>" ></span>
            </li>
            
            <%= link_to like_movie_path(movie), method: :put do %>
              Upvote
              <%= movie.get_upvotes.size %>
            <% end %>
            <%= link_to dislike_movie_path(movie), method: :put do %>
              Downvote
              <%= movie.get_downvotes.size %>
            <% end %>
            <span class="current-rating">
              <%= render movie.rating_average %>
            </span>
            
            <br>
            <hr>
            Latest Ratings:
            <div class="latest-ratings">
              <%= render movie.ratings.limit(2) %>
            </div>

          </ul>
        </div>
        <span class='left'> </span>
      </div>
    <% end %>
  </div>
</div>  

<script>
$(document).ready(function(){

  $('ul li span').each(function(i, e){
    var rate = $(this).parent('li').data('rating')
    console.log(i)
    $("#rate_"+(i+1)).jRate({
      path: '/assets',
        startColor: "yellow",
        endColor: "yellow",
        rating: rate
    });
console.log(rate)
  });
});
    

  
</script>